.myconfig
.bash_history
.bash_logout
.gitconfig
.sudo_as_admin_successful
temp
*~
.easychemrc
.ssh
windows
.dbus
.gconf
.gnome2
.ipynb_checkpoints
.ipython
.ispell_default
.kde
.cache
.config
.local
.valkyrie
.viminfo
.gnupg
.emacs.d
.jupyter
.npm
anaconda3
__pycache__
repos
.aspell.en.pws
.aspell.en.prepl
.git-credentials
.lesshst
.ICEauthority
.Xauthority
.dmrc
Music
Dropbox
Downloads
.dropbox-dist
.dropbox
.gnome
.gtkrc-2.0
.lastpass
.macromedia
.mozilla
.pki
.selected_editor
.thumbnails
.xbindkeys
.xscreensaver
.xsession-errors
.xbindkeysrc
Desktop
maple2015
maple2016
.maple
.pip
.python_history
.xsession-errors.old
.conda
examples.desktop
.ispell_american
.kivy
deltb40.nec 
Example3.nec 
input.nec 
output.nec 
Piramid.nec
.octave_hist
.wine
.subversion
.vscode
.cmake
.ddd
.wget-hsts
.gnuplot_history
.sqlite_history
data
.Scilab
.oracle_jre_usage
.java
.aptcyg
LauncherFolder
MyDocuments
.fehbg
.fluxbox
.vnc
.nv
.nvidia-settings-rc
.pinerc
.w3m
mail
.pulse_secure
VirtualBox VMs
snap
.Xdefaults
Templates
win
.xinputrc
.mame
.vagrant.d
4nec2
.face
.face.icon
.wbar
.conky
.fontconfig
.gksu.lock
.gtk-2.0
.xfce4-session.verbose-log .xfce4-session.verbose-log.last
.xfce4-session*
