.myconfig
.bash_history
.bash_logout
.gitconfig
.sudo_as_admin_successful
temp
*~
.easychemrc
.ssh
windows
.dbus
.gconf
.gnome2
.ipynb_checkpoints
.ipython
.ispell_default
.kde
.cache
.config
.local
.valkyrie
.viminfo
.gnupg
.emacs.d
.jupyter
.npm
anaconda3
__pycache__
repos
.aspell.en.pws
.aspell.en.prepl
.git-credentials
.lesshst
.ICEauthority
.Xauthority
.dmrc
Music
Dropbox
Downloads
.dropbox-dist
.dropbox
.gnome
.gtkrc-2.0
.lastpass
.macromedia
.mozilla
.pki
.selected_editor
.thumbnails
.xbindkeys
.xscreensaver
.xsession-errors
.xbindkeysrc
Desktop
maple2015
maple2016
.maple
.pip
.python_history
.xsession-errors.old
.conda
examples.desktop
.ispell_american
.kivy
.wine
.subversion
.vscode
