html {
    height:100%;
    min-height:100%;
    width:100%;
    padding:0;
    margin:0;
}

div {
    padding:0;
    margin:0;
}
body
{
    height:100%;
    min-height:100%;
    width:100%;
    position:relative;
    padding:0;
    margin:0;
    margin-left:5px;
}


/* title page */
.title {
  color:white
}

/* Containers */
div#tocTable {
    min-height: 90%;
    height: 90%;
    width: 95%;
    padding: 5px;
    border: 1px solid gray;
    background-color:white;
}

div#toc_html {
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
}

div#indexTable {
    min-height: 90%;
    height: 90%;
    width: 95%;
    padding: 5px;
    border: 1px solid gray;
    background-color:white;
}

input#regexp{
    width: 95%;
    margin-bottom: 5px;
}

select#keyselect{
    min-height: 85%;
    height: 85%;
    width: 100%;
}

ul#contentsTabs {
    padding-top:0;
    margin-top:0;
    padding-bottom:5px;
    margin-bottom:5px;
}

div#searchTable {
    min-height: 90%;
    height: 90%;
    width: 95%;
    padding: 5px;
    border: 1px solid gray;
    background-color:white;
    overflow: auto;
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Used on the TOC page ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
color: white;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* branding specific settings

/* title page */
.titleBody {
  background-color:#FF9211;
}

/* toc */
.tocBody {
  background-color:#99A0A5;
}

/* use helvetica font */
html {
  font-family: Helvetica, sans-serif;
}

/* titles */
h1 {
  color:#FF9211;
}
h2 {
  color:#FF9211;
}
h3 {
  color:#FF9211;
}
h4 {
  color:#FF9211;
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Used on the TOC page ######### */

.modernbricksmenu2 a{
background-color: #FF9211; 
}

.modernbricksmenu2 a:hover{
background-color: #007799; /*Brown color theme*/
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #007799; /*Brown color theme*/
border-color: #007799; /*Brown color theme*/
}

table.tabular {
    table-layout: fixed;
}

table.nested {margin-left: 0em; margin-right: auto;}

/* LaTeX generated tables
table.tabular {
  margin-left: 10px !important;
  width: 90%;
}
*/
